body {
    background-image: url(./images/background/5023.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    
}

table {
    background-color:whitesmoke;    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    
}

h1 {
    background-color: white;
    padding: 1rem;
    border: 2px black solid;
    box-shadow: 5px 5px black;

}

h2, h3 {
font-style: italic;
}

.continue {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 75%;

    background-color: rgb(248, 248, 248);
    padding: 2rem;
    box-shadow: 10px 10px black;
    flex-wrap: wrap;
    border: 2px solid black;
}

form div {
    margin-bottom: 1rem;
    width:100%;
}


form .CustomerInfo input {
    float:right;
    margin-left: 1rem;
    width: 75%;
}

form .CustomerInfo .checkbox input {
    float: none;
    width: auto;
    margin-left: 25%;
}

form .CustomerInfo .checkbox {
    margin: none;
    float: none
}

form .credit-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form .credit-card .ChooseCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



form .credit-card div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 60%;
}

form .credit-card .CCImage {

    width: 3rem;
    height: auto;
    padding: 0 0.5rem 0 0.5rem;
}